<?xml version="1.0" encoding="utf-8"?><!--
  ~ Developed by Michail Fotiadis on 07/10/18 18:03.
  ~ Last modified 07/10/18 14:47.
  ~ Copyright (c) 2018. All rights reserved.
  ~
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michaelfotiads.xkcdreader">

    <!-- *** Permissions Block -->
    <application
        android:name=".XkcdReaderApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xkcd.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- *** -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>